version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      aws-dependencies:
        applies-to: version-updates
        patterns:
          - "*aws*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
