name: Push to Artifact Registry

on:
  release:
    types:
      - published

env:
  IMAGE_NAME: "petpet"

jobs:
  push_to_ar:
    name: "Push to GCP AR"
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Google Auth
        id: auth
        uses: google-github-actions/auth@v3
        with:
          token_format: 'access_token'
          project_id: ${{ secrets.PROJECT_ID }}
          service_account: ${{ secrets.SERVICE_ACCOUNT }}
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          access_token_lifetime: '180s'

      - name: Docker Auth
        id: docker-auth
        uses: docker/login-action@v3
        with:
          username: 'oauth2accesstoken'
          password: '${{ steps.auth.outputs.access_token }}'
          registry: '${{ secrets.AR_REPO_LOCATION }}-docker.pkg.dev'

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.AR_URL }}/${{ env.IMAGE_NAME }}:${{ github.event.release.tag_name }}
